.section {
  position: relative;
  padding-bottom: 3.13vw;

  .background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100vw !important;
    height: auto;
  }

  .container {
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8.33vw;
    padding-bottom: 4.22vw;

    border-bottom-left-radius: 4.2vw;
    border-bottom-right-radius: 4.2vw;
    overflow: hidden;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 100%
      ),
      url(/images/home-hero.jpg) lightgray 50% / cover no-repeat;
  }

  h1 {
    width: 63vw;
    margin-bottom: 3.75vw;
    font-size: 8.33vw;
    line-height: 0.8;
    letter-spacing: -4.8px;
    text-align: center;
    color: var(--text-light);
    text-shadow: 0px 0px 100px rgba(8, 66, 127, 0.4);
  }

  .link {
    display: flex;
    align-items: center;
    gap: 0.83vw;
    padding: 0.83vw 1.67vw;
    margin-bottom: 3.75vw;

    border-radius: 4.17vw;
    font-size: 1.04vw;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.6px;
    background-color: var(--brand-primary);
    color: var(--text-light);

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.67vw;
      height: 1.67vw;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.1);
    }

    svg {
      width: 0.63vw;
      height: 0.83vw;
      fill: var(--background-light);
    }
  }
}

@media screen and (max-width: 1024px) {
  .section {
    padding-bottom: 16vw;

    .container {
      padding-top: 19.2vw;
      padding-bottom: 0;

      background: none;
      .background {
        display: block;
        border-bottom-left-radius: 8.53vw;
        border-bottom-right-radius: 8.53vw;
      }

      h1 {
        width: 91vw;
        margin-bottom: 10.67vw;
        font-size: 12vw;
        line-height: 1;
        letter-spacing: -1.35px;
      }

      .link {
        margin-bottom: 26.67vw;
        padding: 2.13vw 3.73vw;
        border-radius: 21.33vw;
        gap: 4.27vw;

        font-size: 4.27vw;
        letter-spacing: -0.48px;

        span {
          width: 8.53vw;
          height: 8.53vw;

          svg {
            width: 3.2vw;
            height: 4.27vw;
          }
        }
      }
    }
  }
}
