.section {
  padding-top: 4.17vw;
  padding-bottom: 5.21vw;

  .container {
    max-width: 72.6vw;

    h2 {
      margin-bottom: 3.13vw;

      font-size: 3.33vw;
      line-height: 0.9;
      letter-spacing: -1.92px;
      text-align: center;
      color: var(--text-gray-dark);
    }

    .advantagesCont {
      display: flex;
      gap: 0.83vw;

      .leftBlock,
      .rightBlock {
        display: flex;
        flex-wrap: wrap;
        gap: 0.83vw;

        .item {
          padding: 2.71vw;
          border-radius: 2.71vw;

          .mobileAdvantage {
            display: none;
          }

          img {
            width: 4.79vw;
            height: 4.79vw;
          }

          .advantage {
            margin-bottom: 0.83vw;
            font-size: 1.66vw;
            font-weight: 600;
            letter-spacing: -1.5px;
            line-height: normal;
          }

          .advantageDescr {
            font-size: 0.83vw;
            font-weight: 600;
            line-height: 1.4;
            letter-spacing: -0.48px;
          }
        }

        .white {
          background-color: #ffffff;

          .advantage {
            color: rgba(25, 27, 26, 1);
          }

          .mobileAdvantage {
            color: rgba(25, 27, 26, 1);
          }

          .advantageDescr {
            color: var(--text-gray);
          }
        }

        .dark {
          background-color: var(--brand-primary);

          .advantage {
            color: #ffffff;
          }

          .mobileAdvantage {
            color: #ffffff;
          }

          .advantageDescr {
            color: #ffffff;
            opacity: 0.8;
          }
        }
      }

      .leftBlock {
        .item:first-child {
          width: calc(100% / 2 - 8px);

          img {
            margin-bottom: 2.92vw;
          }
        }

        .item:nth-child(2) {
          width: calc(100% / 2 - 8px);
          img {
            margin-bottom: 2.92vw;
          }
        }

        .item:last-child {
          z-index: -10;
          position: relative;

          img {
            margin-bottom: 4.32vw;
          }

          img.background {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -5;
            border-radius: 2.71vw;
          }
        }
      }

      .rightBlock {
        .item:first-child {
          z-index: -10;
          position: relative;

          .advantage {
            width: 29.83vw;
          }

          img {
            margin-bottom: 0.94vw;
          }

          img.background {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -5;
            border-radius: 2.71vw;
          }
        }

        .item:nth-child(2) {
          width: calc(100% / 2 - 8px);

          img {
            margin-bottom: 4.17vw;
          }
        }

        .item:last-child {
          width: calc(100% / 2 - 8px);

          .advantage {
            width: 1vw;
          }

          img {
            margin-bottom: 4.17vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .section {
    padding-top: 16vw;
    padding-bottom: 16vw;

    .container {
      max-width: 91.47vw;

      h2 {
        margin-bottom: 8.53vw;
        font-size: 8.53vw;
        line-height: 1.1;
        letter-spacing: -0.96px;
        font-weight: 700;
        text-align: left;
      }

      .advantagesCont {
        flex-direction: column;
        gap: 4.37vw;

        .leftBlock,
        .rightBlock {
          flex-direction: column;
          gap: 4.37vw;

          .item:first-child,
          .item:last-child,
          .item:nth-child(2) {
            width: 100%;
            border-radius: 6.4vw;
          }

          .item {
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            row-gap: 3.2vw;
            column-gap: 4.27vw;
            padding: 6.4vw;
            border-radius: 6.4vw;

            img {
              width: 11.73vw;
              height: 11.73vw;
            }

            .mobileAdvantage {
              display: inline-block;
              width: 62.67vw;
              font-size: 6.4vw;
              font-style: normal;
              font-weight: 600;
              line-height: 1;
              letter-spacing: -0.72px;
            }

            .content {
              width: 100%;
              .advantage {
                display: none;
              }

              .advantageDescr {
                font-size: 3.73vw;
              }
            }
          }
        }
      }
    }
  }
}
