.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.04vw 1.67vw;
  border-radius: 1.67vw;
  background-color: var(--background-light);

  p {
    margin-bottom: 0.21vw;
    text-align: center;
    font-size: 3.33vw;
    font-weight: 800;
    line-height: normal;
    color: var(--brand-primary);
  }

  h3 {
    text-align: center;
    font-size: 0.83vw;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.48px;
    color: var(--text-gray);
  }

  svg {
    width: 1.67vw;
    height: 1.67vw;
    margin-bottom: 0.63vw;
    fill: var(--brand-primary);
  }
}

@media screen and (max-width: 1024px) {
  .item {
    width: max-content;
    padding: 3.2vw;
    border-radius: 5.33vw;

    svg {
      width: 5.33vw;
      height: 5.33vw;
      margin-bottom: 2.13vw;
    }

    h3 {
      margin-bottom: 1.07vw;
      font-size: 3.73vw;
      font-style: normal;
      font-weight: 600;
      letter-spacing: -0.42px;
    }

    p {
      margin-top: auto;
      font-size: 6.93vw;
      font-style: normal;
      font-weight: 700;
    }
  }

  .item:last-child {
    flex-grow: 1;
  }

  .item:nth-child(1),
  .item:nth-child(2),
  .item:nth-child(3) {
    width: 28.33vw;
  }
}
