.newsItem {
  padding: 2.92vw;
  width: 27.92vw;
  background-color: #ffffff;
  border-radius: 2.71vw;

  .subtitle {
    width: max-content;
    color: var(--brand-primary);
    border: 0.1vw solid var(--brand-primary);
    border-radius: 8.65vw;
    margin-bottom: 1.04vw;
    padding: 0.52vw 0.83vw;
    font-size: 0.83vw;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -0.48px;
    text-transform: uppercase;
  }

  h3 {
    height: 3.96vw;
    margin-bottom: 0.63vw;
    font-size: 1.67vw;
    line-height: normal;
    letter-spacing: -0.96px;
    color: rgba(25, 27, 26, 1);
  }

  .content {
    margin-bottom: 0.83vw;
    height: 4.5vw;

    font-size: 0.83vw;
    line-height: 1.4;
    letter-spacing: -0.48px;
    color: var(--text-gray);
  }

  .timeAndDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.83vw;

    .readingTime {
      display: flex;
      align-items: center;
      gap: 0.42vw;

      font-size: 0.83vw;
      line-height: normal;
      letter-spacing: -0.32px;
      color: var(--text-gray);
    }

    .date {
      font-size: 0.83vw;
      line-height: normal;
      letter-spacing: -0.32px;
      color: var(--text-gray);
    }
  }

  .image {
    display: block;
    margin-bottom: 1.67vw;
    width: 22.08vw;
    height: 15.05vw;
    transition: border-radius 300ms ease-in-out;
    border-radius: 2.08vw;
  }

  .articleLink {
    display: flex;
    gap: 0.63vw;
    justify-content: center;
    align-items: center;
    padding-top: 0.94vw;
    padding-bottom: 0.94vw;
    font-size: 0.83vw;
    line-height: normal;
    font-weight: 600;
    text-align: center;
    transition: all 300ms ease-in-out;

    background-color: rgba(246, 246, 246, 1);
    border-radius: 5.21vw;

    svg {
      width: 0.47vw;
      height: 0.42vw;
      transition: stroke 300ms ease-in-out;
      transform: rotateZ(90deg);
      stroke: #656d7a;
    }
  }
}

.newsItem:hover {
  .image {
    border-radius: 4.17vw;
  }

  .articleLink {
    color: var(--text-light);
    background-color: var(--brand-primary);

    svg {
      stroke: var(--text-light);
    }
  }
}

@media screen and (max-width: 1024px) {
  .newsItem {
    display: flex;
    flex-direction: column;
    width: 88.27vw;
    height: 100%;
    padding: 8.53vw 5.33vw;
    border-radius: 8.53vw;

    .link {
      display: flex;
      flex-direction: column;
    }

    .subtitle {
      margin-bottom: 4.27vw;
      padding: 3.2vw 4.27vw;
      border-width: 0.53vw;
      border-radius: 44.27vw;

      font-size: 3.2vw;
      line-height: 1;
      font-weight: 800;
      letter-spacing: -0.36px;
    }

    h3 {
      height: auto;
      margin-bottom: 3.2vw;

      font-size: 6.4vw;
      font-weight: 600;
      line-height: 1.1;
      letter-spacing: -0.72px;
    }

    .content {
      height: auto;
      margin-bottom: 3.2vw;

      font-size: 3.73vw;
      font-weight: 600;
      line-height: 1.4;
      letter-spacing: -0.42px;
    }

    .timeAndDate {
      margin-bottom: 3.2vw;

      .readingTime {
        gap: 2.13vw;
        font-size: 3.73vw;
      }

      .date {
        font-size: 3.73vw;
      }
    }

    .image {
      width: 100%;
      height: 59.47vw;
      border-radius: 10.67vw;
    }

    .articleLink {
      gap: 3.2vw;
      padding-top: 4.8vw;
      padding-bottom: 4.8vw;
      border-radius: 26.67vw;

      font-size: 4.27vw;

      svg {
        width: 2.4vw;
        height: 2.13vw;
      }
    }
  }

  .newsItem:hover {
    .image {
      border-radius: 21.33vw;
    }
  }
}
