.item {
  display: flex;
  border-radius: 2.92vw;

  .itemImg {
    width: 42.71vw;
    height: 40.63vw;
    border-radius: 2.71vw;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.92vw;
    border-radius: 2.92vw;
    background-color: #fff;

    .itemSubtitle {
      width: max-content;
      padding: 0.63vw 0.83vw;
      margin-bottom: 1.25vw;

      font-size: 0.83vw;
      font-weight: 800;
      line-height: 1;
      letter-spacing: -0.48px;
      text-transform: uppercase;
      color: var(--brand-primary);
      border: 0.1vw solid var(--brand-primary);
      border-radius: 8.65vw;
    }

    h3 {
      font-size: 3.33vw;
      line-height: 1.1;
      letter-spacing: -1.92px;
    }

    .info {
      h4 {
        margin-bottom: 1.67vw;
        font-size: 1.67vw;
        line-height: 1.2;
        color: var(--text-gray-dark);
      }

      article {
        display: flex;
        gap: 1.04vw;
        margin-bottom: 2.08vw;

        p {
          width: calc(100% / 2 - 1.04vw);
          font-size: 0.83vw;
          line-height: 1.4;
          font-weight: 600;
          letter-spacing: -0.48px;
          color: var(--text-gray);
        }
      }

      button {
        display: flex;
        align-items: center;
        gap: 0.6vw;
        padding: 0.63vw 0.63vw 0.63vw 1.04vw;

        font-family: "Gilroy";
        font-weight: 700;
        font-size: 0.83vw;
        transition: background-color 500ms ease-in-out;
        color: var(--text-light);
        background-color: var(--brand-primary);
        border-radius: 5.2vw;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 2.1vw;
          height: 2.1vw;
          background-color: #fff;
          border-radius: 50%;

          svg {
            width: 1.25vw;
            height: 1.25vw;
            transition: fill 500ms ease-in-out;
            fill: var(--brand-primary);
          }
        }
      }

      button:hover {
        background-color: var(--button-hover-primary);

        svg {
          fill: var(--button-hover-primary);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .item {
    flex-direction: column;
    padding: 8.53vw 5.33vw;
    background-color: #ffffff;
    border-radius: 8.53vw;

    .itemImg {
      width: 100%;
      height: 51.73vw;
      object-fit: cover;
      aspect-ratio: 291/193.95;
      border-radius: 5.33vw;
    }

    .content {
      padding: 0;
      padding-top: 5.33vw;

      h3 {
        display: none;
      }

      .itemSubtitle {
        display: none;
      }

      .info {
        h4 {
          margin-bottom: 3.2vw;
          display: flex;
          align-items: center;
          gap: 4.27vw;
          font-size: 6.4vw;

          span {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 10.67vw;
            height: 10.67vw;
            border-radius: 50%;
            background-color: rgba(64, 91, 231, 0.1);

            svg {
              width: 5.33vw;
              height: 5.33vw;
              fill: rgba(64, 91, 231, 1);
            }
          }
        }
        article {
          display: flex;
          flex-direction: column;
          margin-bottom: 5.33vw;

          p {
            width: auto;
            font-size: 3.73vw;
          }
        }
        button {
          gap: 3.2vw;
          padding: 3.2vw 2.6vw 3.2vw 5.33vw;
          border-radius: 26.67vw;
          font-size: 4.27vw;

          span {
            width: 9.6vw;
            height: 9.6vw;

            svg {
              width: 5.76vw;
              height: 5.76vw;
            }
          }
        }
      }
    }
  }
}
