.section {
  padding-top: 6.46vw;
  padding-bottom: 4.17vw;
  border-bottom-left-radius: 4.17vw;
  border-bottom-right-radius: 4.17vw;
  overflow: hidden;
  position: relative;
  background-color: var(--brand-primary);

  .bg {
    position: absolute;
    top: 0;
    right: 3vw;
    width: 39.06vw;
    height: 100%;
    z-index: 1;
  }

  h1 {
    font-size: 5.1vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -2.94px;

    color: var(--text-light);
  }
}

@media screen and (max-width: 1024px) {
  .section {
    padding-top: 21.87vw;
    padding-bottom: 13.87vw;
    border-bottom-left-radius: 5.33vw;
    border-bottom-right-radius: 5.33vw;

    .bg {
      width: 88vw;
      transform: rotateY(180deg);
      top: 8.33vw;
      right: -11vw;
    }

    h1 {
      width: 80%;
      font-size: 11.2vw;
      font-style: normal;
      font-weight: 700;
      line-height: 0.9;
      letter-spacing: -1.26px;
    }
  }
}
