.section {
  padding-top: 4.17vw;
  padding-bottom: 4.17vw;

  .topBlock {
    margin-bottom: 3.13vw;
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 3.33vw;
      font-style: normal;
      font-weight: 800;
      line-height: 0.9;
      letter-spacing: -1.92px;

      color: rgba(25, 27, 26, 1);
    }

    a {
      display: flex;
      align-items: center;
      gap: 0.63vw;
      padding: 0.93vw 1.25vw;
      border-radius: 5.21vw;
      transition: background-color 300ms ease-in-out;
      background-color: var(--brand-primary);

      font-size: 0.83vw;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: var(--text-light);

      svg {
        transition: width 300ms ease-in-out;
        width: 0.63vw;
      }
    }

    a:hover {
      background-color: var(--brand-primary-hover);

      svg {
        width: 0.73vw;
      }
    }
  }

  .newsList {
    display: flex;
    gap: 0.83vw;
  }
}
