.page {
  .heroSection {
    padding-top: 6.46vw;
    padding-bottom: 4.17vw;
    background-color: var(--brand-primary);
    border-bottom-left-radius: 4.17vw;
    border-bottom-right-radius: 4.17vw;

    h1 {
      margin-bottom: 1.25vw;
      font-size: 3.02vw;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -1.74px;
      color: var(--text-light);
    }

    .subtitleBlock {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: 1.04vw;
        font-style: normal;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: -0.6px;

        color: rgba(255, 255, 255, 0.7);
      }

      .timeBlock {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 1.25vw;

        p {
          color: var(--text-light);
        }

        .readingTime {
          display: flex;
          align-items: center;
          gap: 0.42vw;
        }
      }
    }
  }

  .content {
    padding-top: 3.13vw;
    padding-bottom: 4.17vw;

    p {
      font-size: 0.94vw;
      font-style: normal;
      font-weight: 600;
      line-height: 1.4;
      color: rgba(101, 109, 122, 1);
    }

    img {
      margin-bottom: 0.93vw;
      width: 100%;
      height: 37.5vw;
      border-radius: 2.71vw;
      overflow: hidden;
    }

    .articleCont {
      display: flex;
      gap: 1.67vw;

      article {
        width: 69.17vw;
        padding: 2.92vw;
        border-radius: 52px;
        background: #ffffff;

        h2,
        h3,
        h4 {
          margin-bottom: 1.25vw;
          font-size: 1.67vw;
          font-style: normal;
          font-weight: 600;
          line-height: 1.5;
          letter-spacing: -0.96px;

          color: rgba(49, 49, 49, 1);
        }

        p {
          margin-bottom: 1.25vw;
          font-size: 0.93vw;
          font-style: normal;
          font-weight: 600;
          line-height: 1.4;
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 0.63vw;
          margin-bottom: 2.08vw;
          padding-left: 0.93vw;
          list-style: disc;

          li::marker {
            color: rgba(101, 109, 122, 1);
          }

          li {
            font-size: 0.93vw;
            font-style: normal;
            font-weight: 600;
            line-height: 1.4;
            color: rgba(101, 109, 122, 1);
          }
        }
      }

      .navContainer {
        position: sticky;
        top: 10vw;
        display: flex;
        flex-direction: column;
        gap: 0.93vw;
        width: 14.58vw;
        height: max-content;

        .articleNavigation {
          padding: 1.67vw;
          border-radius: 1.67vw;
          background: #ffffff;

          div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.04vw;

            p {
              font-size: 0.83vw;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: -0.48px;
              text-transform: uppercase;

              color: rgba(25, 27, 26, 1);
            }

            svg {
              width: 1.25vw;
              height: 1.25vw;
            }
          }

          nav {
            ul {
              display: flex;
              flex-direction: column;
              gap: 0.42vw;

              li {
                a {
                  font-size: 0.83vw;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  letter-spacing: -0.48px;
                  text-decoration: underline;

                  color: rgba(25, 27, 26, 1);
                }
              }
            }
          }
        }

        .socialsCont {
          padding: 1.67vw;
          border-radius: 1.67vw;
          background: #ffffff;

          p {
            margin-bottom: 1.04vw;
            font-size: 0.83vw;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.48px;
            text-transform: uppercase;
            color: rgba(25, 27, 26, 1);
          }

          ul {
            display: flex;
            justify-content: space-between;
            li {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 2.5vw;
              height: 2.5vw;
              border-radius: 50%;
              background-color: rgba(64, 91, 231, 0.1);

              svg {
                width: 0.93vw;
                height: 0.93vw;
              }
            }
          }
        }

        .proposalCont {
          padding: 1.67vw;
          border-radius: 1.67vw;
          background: #ffffff;

          .title {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.63vw 0;
            margin-bottom: 1.04vw;
            font-size: 0.73vw;
            font-style: normal;
            font-weight: 700;
            line-height: 1;
            letter-spacing: -0.42px;
            text-transform: uppercase;
            color: var(--brand-primary);
            border-radius: 8.65vw;
            border: 0.1vw solid var(--Blue, #405be7);
          }

          img {
            margin-bottom: 0.63vw;
            width: 11.25vw;
            height: 9.17vw;
            border-radius: 1.25vw;
          }

          .proposal {
            margin-bottom: 1.04vw;
            font-size: 0.83vw;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.48px;
            color: rgba(25, 27, 26, 1);
          }

          a {
            display: flex;
            gap: 0.63vw;
            align-items: center;
            justify-content: center;
            padding: 0.93vw 0;
            border-radius: 5.21vw;
            background: #f6f6f6;

            font-size: 0.83vw;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            color: rgba(101, 109, 122, 1);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .page {
    .heroSection {
      padding-top: 25.6vw;
      padding-bottom: 10.67vw;
      border-bottom-left-radius: 5.33vw;
      border-bottom-right-radius: 5.33vw;

      h1 {
        margin-bottom: 3.2vw;

        font-size: 6.4vw;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.72px;
      }

      .subtitleBlock {
        p:first-child {
          display: none;
        }

        .timeBlock {
          width: 100%;
          justify-content: space-between;

          .readingTime {
            gap: 2.13vw;

            font-size: 3.73vw;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.28px;

            span {
              svg {
                width: 4.8vw;
                height: 4.8vw;
              }
            }
          }

          p {
            font-size: 3.73vw;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.28px;
          }
        }
      }
    }

    .content {
      padding-top: 10.67vw;
      padding-bottom: 16vw;

      img {
        height: 73.6vw;
        margin-bottom: 3.2vw;
        object-fit: cover;
      }

      .articleCont {
        flex-direction: column;

        .articleNavigationMobile {
          padding: 4.27vw 6.4vw;
          margin-bottom: 3.2vw;
          background-color: #fff;
          border-radius: 5.33vw;

          div {
            margin-bottom: 4.27vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
              font-size: 3.73vw;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: -0.42px;
              text-transform: uppercase;

              color: rgba(101, 109, 122, 1);
            }
          }

          nav {
            ul {
              display: flex;
              flex-direction: column;
              gap: 5.33vw;
            }
          }
        }

        article {
          width: 100%;
          margin-bottom: 8.53vw;
          padding: 6.4vw;
          border-radius: 8.53vw;

          h2,
          h3,
          h4,
          h5 {
            margin-bottom: 3.2vw;
            font-size: 5.33vw;
            font-style: normal;
            font-weight: 600;
            line-height: 1.5;
            letter-spacing: -0.6px;
          }

          p {
            margin-bottom: 5.33vw;
            font-size: 3.73vw;
            font-style: normal;
            font-weight: 600;
            line-height: 1.4;
          }

          ul {
            padding-left: 4.27vw;
            margin-bottom: 5.33vw;
            gap: 2.13vw;

            li {
              font-size: 3.73vw;
              font-style: normal;
              font-weight: 600;
              line-height: 140%;
            }
          }
        }

        .navContainer {
          width: 100%;

          .articleNavigation {
            display: none;
            visibility: hidden;
            width: 0;
            height: 0;
          }

          .socialsCont {
            width: 100%;
            margin-bottom: 5.33vw;
            padding: 4.27vw 6.4vw;
            border-radius: 5.33vw;

            p {
              margin-bottom: 5.33vw;

              font-size: 3.73vw;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: -0.42px;
            }

            ul {
              justify-content: flex-start;
              gap: 5.33vw;

              li {
                width: 12.8vw;
                height: 12.8vw;

                svg {
                  width: 4.8vw;
                  height: 4.8vw;
                }
              }
            }
          }

          .proposalCont {
            padding: 6.4vw;
            border-radius: 8.53vw;

            .title {
              width: max-content;
              margin-bottom: 5.33vw;
              padding: 3.2vw 4.27vw;
              border-width: 0.53vw;

              font-size: 3.2vw;
              font-style: normal;
              font-weight: 700;
              line-height: 1;
              letter-spacing: -0.36px;
            }

            img {
              width: 100%;
              height: 46.83vw;
              margin-bottom: 3.2vw;
              border-radius: 6.4vw;
            }

            .proposal {
              margin-bottom: 5.33vw;

              font-size: 4.27vw;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: -0.48px;
            }

            a {
              height: 12.8vw;
              gap: 3.2vw;
              border-radius: 26.67vw;

              font-size: 4.27vw;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}
