:root {
  --text-primary: #000000;
  --text-light: #ffffff;
  --text-gray: rgba(101, 109, 122, 1);
  --text-gray-dark: rgba(49, 49, 49, 1);
  --background-light: rgb(246, 246, 246);
  --background-white: rgba(255, 255, 255, 1);
  --brand-primary: rgba(64, 91, 231, 1);
  --background-semi-transparent: rgba(246, 246, 246, 0.2);
  --background-semi-transparent-blue: rgba(64, 91, 231, 0.1);
  --text-semi-transparent: rgba(255, 255, 255, 0.5);
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

html,
body {
  font-family: "Gilroy";
  font-style: normal;
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Gilroy";
  letter-spacing: -1px;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

h1,
h2 {
  font-weight: 800;
}

ul,
ol {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

p,
a {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-light);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  padding-block: 0;
  padding-inline: 0;
}
