.section {
  padding-top: 4.17vw;
  padding-bottom: 4.17vw;
  h2 {
    margin-bottom: 3.13vw;

    font-size: 3.33vw;
    line-height: 0.9;
    letter-spacing: -1.92px;
    color: var(--text-gray-dark);
    text-align: center;
  }

  .mapContainer {
    position: relative;
    height: 41.67vw;
    border-radius: 2.71vw;
    overflow: hidden;

    .map {
      height: 100% !important;
    }

    .mapFour {
      height: 100% !important;
    }

    .mainMarker {
      width: 2.5vw;
      height: 2.5vw;
    }

    .mapLegend {
      width: 21.98vw;
      position: absolute;
      top: 1.67vw;
      left: 1.67vw;
      z-index: 500;
      padding: 1.67vw;
      background-color: #ffffff;
      border-radius: 1.67vw;

      h3 {
        width: max-content;
        padding: 0.63vw 0.83vw;
        margin-bottom: 1.67vw;

        font-size: 0.83vw;
        font-weight: 800;
        line-height: 1;
        letter-spacing: -0.48px;
        text-transform: uppercase;
        color: var(--brand-primary);
        border: 0.1vw solid var(--brand-primary);
        border-radius: 8.65vw;
      }

      .infoList {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.67vw;
        gap: 1.67vw;

        .item {
          .title {
            display: flex;
            align-items: center;
            gap: 0.63vw;
            margin-bottom: 0.21vw;

            font-family: "Onest", sans-serif !important;
            font-weight: 500;
            font-size: 0.63vw;
            line-height: 1;
            letter-spacing: normal;
            color: rgba(25, 27, 26, 1);

            .itemIcon {
              width: 1.67vw;
              height: 1.67vw;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: rgba(64, 91, 231, 0.1);
              border-radius: 50%;

              img {
                width: 0.83vw;
                height: 0.83vw;
              }
            }
          }

          .itemDataList {
            padding-left: 2.29vw;
            display: flex;
            flex-direction: column;
            gap: 0.63vw;

            .listItem {
              font-family: "Onest";
              font-weight: 700;
              font-size: 0.83vw;
              line-height: normal;
              letter-spacing: -0.32px;
            }
          }
        }
      }

      .orderVisisBtn {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.15vw;
        margin-bottom: 2.08vw;

        font-family: "Gilroy";
        font-size: 0.83vw;
        font-weight: 700;
        color: #ffffff;

        background-color: var(--brand-primary);
        border-radius: 5.21vw;
      }

      .googleMapsLinks {
        p {
          margin-bottom: 0.83vw;

          font-size: 0.73vw;
          font-weight: 600;
          line-height: normal;
          letter-spacing: normal;
          text-transform: uppercase;
          color: rgba(25, 27, 26, 0.6);
        }

        .linkList {
          display: flex;
          gap: 0.31vw;

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 3.13vw;
            height: 3.13vw;
            border-radius: 50%;
            background-color: rgba(250, 248, 248, 1);

            .link {
              line-height: 0;
              img {
                width: 1.88vw;
                height: 1.88vw;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .section {
    padding-top: 16vw;
    padding-bottom: 16vw;

    h2 {
      margin-bottom: 8.53vw;
      font-size: 8.53vw;
      line-height: 1.1;
      font-weight: 700;
      letter-spacing: -0.96px;
      text-align: left;
    }

    .mobileMapLegend {
      width: 100%;
      margin-bottom: 6.4vw;
      padding: 5.33vw;
      border-radius: 8.53vw;
      background-color: #fff;

      h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32.53vw;
        height: 8.53vw;
        margin-bottom: 6.4vw;
        border: 1px solid var(--brand-primary);
        border-radius: 8.53vw;

        font-family: "Onest", sans-serif !important;
        font-size: 3.2vw;
        font-style: normal;
        font-weight: 800;
        line-height: 1;
        letter-spacing: -0.36px;
        text-transform: uppercase;
        color: var(--brand-primary);
      }

      .infoList {
        margin-bottom: 5.33vw;
        display: flex;
        flex-direction: column;
        gap: 5.33vw;
        .item {
          .title {
            margin-bottom: 1.07vw;
            display: flex;
            align-items: center;
            gap: 3.2vw;

            font-size: 3.73vw;
            font-style: normal;
            font-weight: 500;
            line-height: 1;
            color: rgba(25, 27, 26, 1);

            .itemIcon {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 8.53vw;
              height: 8.53vw;
              border-radius: 50%;
              background-color: rgba(64, 91, 231, 0.1);

              img {
                width: 4.27vw;
                height: 4.27vw;
              }
            }
          }

          .itemDataList {
            padding-left: 11.73vw;
            .listItem {
              a {
                font-size: 4.27vw;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: -0.32px;
                color: rgba(25, 27, 26, 1);
              }
            }
          }
        }
      }

      .orderVisisBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 14.93vw;
        border-radius: 26.67vw;
        transition: background-color 300ms ease-in-out;
        background-color: var(--brand-primary);

        font-size: 4.27vw;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: var(--text-light);
      }

      .orderVisisBtn:hover {
        background-color: var(--brand-primary-hover);
      }
    }

    .mapContainer {
      height: 60.53vw;
      border-radius: 9.44vw;

      .mainMarker {
        width: 8.53vw;
        height: 8.53vw;
      }
    }

    .googleMapsLinks {
      width: 100%;
      height: 19.2vw;
      padding: 3.2vw;
      background-color: #fff;
      border-radius: 8.53vw;
      .linkList {
        display: flex;
        justify-content: center;
        gap: 3.2vw;

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 12.8vw;
          height: 12.8vw;
          background-color: rgba(250, 248, 248, 1);
          border-radius: 50%;

          .link {
            height: 7.47vw;
            img {
              width: 7.47vw;
              height: 7.47vw;
            }
          }
        }
      }
    }
  }

  .contactsPage {
    padding-top: 10.67vw;
  }
}
