.header {
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  transition: background-color 300ms ease-in-out;
  background-color: transparent;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .topBlock {
    display: flex;
    align-items: center;
    gap: 3.3vw;

    svg {
      fill: var(--background-white);
      transition: fill 500ms ease-in-out;
    }
  }

  .navList {
    display: flex;

    li {
      height: max-content;
      padding: 0.63vw 1.04vw;
      border-radius: 5.21vw;
      transition: background-color 300ms ease-in-out;
      background-color: transparent;

      a {
        display: block;
        font-size: 0.72vw;
        color: var(--text-light);
        transition: color 500ms ease-in-out;
      }
    }

    li:hover {
      background-color: var(--background-semi-transparent);
    }

    li.active {
      background-color: var(--background-semi-transparent);
    }
  }

  .bottomBlock {
    display: flex;
    align-items: center;
    gap: 1.3vw;

    .numberAccordion {
      display: flex;
      align-items: center;
      gap: 0.8vw;

      .number {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 0.6vw;
        color: var(--text-light);
        transition: color 500ms ease-in-out;

        span {
          font-size: 0.6vw;
          font-weight: 500;
          margin-bottom: 0.2vw;
        }
      }

      svg {
        fill: var(--text-light);
        transition: fill 500ms ease-in-out;
      }
    }

    .orderCallBtn {
      padding: 0.9vw 1.9vw;
      border-radius: 1.5vw;

      font-size: 0.6vw;
      font-weight: 500;
      transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
      color: var(--text-primary);
      background-color: var(--background-light);
    }

    .orderCallBtn:hover {
      background-color: var(--button-hover-primary);
      color: rgba(246, 246, 246, 1);
    }
  }

  .mobMenuBlock {
    display: none;
  }
}

.header.scrolled,
.header.dark {
  background-color: #ffffff;
  .topBlock {
    svg {
      fill: #000000;
    }
  }

  .navList {
    li {
      a {
        color: var(--text-gray-dark);
      }
    }

    li:hover {
      background-color: rgba(223, 223, 223, 1);
    }

    li.active {
      background-color: rgba(223, 223, 223, 1);
    }
  }

  .bottomBlock {
    .numberAccordion {
      .number {
        color: var(--text-gray-dark);
      }
      svg {
        stroke: var(--text-gray-dark);
        fill: var(--text-gray-dark);
      }
    }

    .orderCallBtn {
      color: var(--text-light);
      background-color: var(--brand-primary);
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding-top: 4.27vw;
    padding-bottom: 4.27vw;

    .container {
      align-items: baseline;
    }

    .topBlock {
      a {
        svg {
          width: 26.67vw;
          height: 6.4vw;
        }
      }

      nav {
        display: none;
      }
    }

    .bottomBlock {
      display: none;
    }

    .mobMenuBlock {
      display: flex;
      gap: 3.2vw;
      align-items: center;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10.67vw;
        height: 10.67vw;
        border-radius: 50%;
        transition: background-color 300ms ease-in-out;
        background-color: #ffffff;

        svg {
          width: 6.4vw;
          height: 6.4vw;
          transition: fill 30ms ease-in-out;
          fill: rgba(25, 27, 26, 1);
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10.67vw;
        height: 10.67vw;
        border-radius: 50%;
        transition: background-color 300ms ease-in-out;
        background-color: var(--brand-primary);

        svg {
          width: 6.4vw;
          height: 6.4vw;
          transition: fill 30ms ease-in-out;
          fill: var(--text-light);
        }
      }
    }
  }
}
