.header {
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
  }

  .topBlock {
    display: flex;
    align-items: center;
    gap: 3.3vw;
  }

  .navList {
    display: flex;

    li {
      padding-right: 1.05vw;
      padding-left: 1.05vw;

      a {
        font-size: 0.6vw;
        color: var(--text-light);
      }
    }
  }

  .bottomBlock {
    display: flex;
    align-items: center;
    gap: 1.3vw;

    .numberAccordion {
      display: flex;
      align-items: center;
      gap: 0.8vw;

      .number {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 0.6vw;
        color: var(--text-light);

        span {
          font-size: 0.6vw;
          font-weight: 500;
          margin-bottom: 0.2vw;
        }
      }
    }

    .orderCallBtn {
      padding: 0.9vw 1.9vw;
      border-radius: 1.5vw;

      font-size: 0.6vw;
      font-weight: 500;
      color: var(--text-primary);
      background-color: var(--background-light);
    }
  }
}
