.breadcrumbs {
  display: flex;
  gap: 0.42vw;
  margin-bottom: 1.67vw;
  
  .breadcrumbItem {
    display: flex;
    gap: 0.42vw;

    font-size: 0.83vw;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    color: var(--text-light);
  }

  .breadcrumbItem:last-child {
    color: rgba(255, 255, 255, 0.7);
  }
}
